@charset "UTF-8";
html {
  position: relative;
  min-height: 100%; }

a {
  color: inherit;
  text-decoration: none; }
  a:link {
    text-decoration: none; }
  a:hover {
    color: #FAA61A; }
  a.dotted {
    /*for links*/
    color: #4b444d;
    border-bottom: 2px dotted #cccccc; }

h1 {
  font-size: 3.5em;
  line-height: 1.8em;
  font-weight: bold; }

h2 {
  font-size: 2em;
  line-height: 2em;
  font-weight: bold; }

h3 {
  font-size: 1.8em;
  line-height: 2.2em;
  font-weight: normal; }

/* ======== HEADER ======== */
.logo {
  position: fixed;
  float: left;
  margin: 15px 0px 0px 15px;
  z-index: 1000; }

.social-icons {
  position: fixed;
  padding-top: 10px;
  z-index: 1000; }

.fa-twitter,
.fa-facebook {
  background-color: rgba(187, 189, 192, 0.9);
  padding: 5px;
  color: #5b5b5b;
  float: right;
  margin: 5px 10px 0px 0px;
  cursor: pointer; }
  .fa-twitter:hover,
  .fa-facebook:hover {
    color: #FAA61A; }

/* ======== Footer ======== */
#footer {
  margin-top: 50px !important;
  position: absolute;
  bottom: 0 !important;
  width: 100%;
  height: 170px;
  background: #e3e3e3 none repeat scroll 0 0;
  text-align: center;
  font-size: 9px;
  padding: 0;
  display: block; }

#footer-wraper {
  padding-top: 20px; }

.copying-info {
  padding-top: 20px;
  font-size: 0.7em;
  line-height: 15px;
  color: #888c91; }
  @media (max-width: 1024px) {
    .copying-info {
      padding-top: 10px;
      font-size: 0.5em; } }
  @media (max-width: 767px) {
    .copying-info {
      padding-top: 10px; } }

.support-site:link,
.support-site:visited {
  color: #FAA61A; }

.weirdo-container {
  margin-bottom: 250px;
  display: table;
  width: 100%; }
  .weirdo-container .weirdo-left, .weirdo-container .weirdo-right {
    display: table-cell;
    vertical-align: top; }
  .weirdo-container .weirdo-right-inner {
    padding-top: 7px;
    padding-left: 40px; }
    .weirdo-container .weirdo-right-inner h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 2.5em;
      margin-left: 0; }
    .weirdo-container .weirdo-right-inner .breadcrumb > li > a {
      text-decoration: none; }
    .weirdo-container .weirdo-right-inner .breadcrumb > li + li:before {
      padding: 0; }
    .weirdo-container .weirdo-right-inner .breadcrumb {
      background: none;
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      font-size: 1.5em;
      color: #58595b; }
      .weirdo-container .weirdo-right-inner .breadcrumb li {
        color: #58595b; }
      .weirdo-container .weirdo-right-inner .breadcrumb li.active {
        color: #faa619;
        text-decoration: underline; }
    .weirdo-container .weirdo-right-inner .numbers-table {
      display: table; }
      .weirdo-container .weirdo-right-inner .numbers-table .table-row {
        display: table-row; }
      .weirdo-container .weirdo-right-inner .numbers-table .table-row > div {
        padding-top: 10px; }
      .weirdo-container .weirdo-right-inner .numbers-table .table-row.last-row > div {
        padding-top: 70px; }
      .weirdo-container .weirdo-right-inner .numbers-table .number-left {
        display: table-cell;
        font-size: 20px;
        font-weight: 600;
        color: #faa619;
        min-width: 100px; }
      .weirdo-container .weirdo-right-inner .numbers-table .caption-right {
        display: table-cell;
        font-size: 1.5em;
        padding-left: 1em; }
        .weirdo-container .weirdo-right-inner .numbers-table .caption-right span {
          color: #ccc; }
  .weirdo-container .control-img-container {
    overflow: hidden;
    position: relative; }
  .weirdo-container .control-img {
    width: 100%;
    height: 100%; }
  .weirdo-container .frame-container {
    margin-top: 10px; }
  .weirdo-container .img-frame {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; }
  .weirdo-container .img-frame-overlay {
    outline: 999px solid rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 1000;
    background: transparent;
    border: 1px dashed white; }
  .weirdo-container .preload-container {
    overflow: hidden; }
  .weirdo-container .right {
    float: right; }
  .weirdo-container .left {
    float: left;
    text-align: right;
    padding-right: 7px; }
    .weirdo-container .left .caption {
      font-style: italic;
      color: #58595b; }
    .weirdo-container .left .number {
      font-size: 20px;
      font-weight: 600;
      color: #faa619; }
  .weirdo-container .chart-container {
    padding-top: 20px; }
  .weirdo-container .chart-svg-container {
    overflow: visible; }
  .weirdo-container .chart-left, .weirdo-container .top-axis-left {
    height: 1px;
    display: block; }
  .weirdo-container div.vertical-line {
    border-left: 2px solid white;
    position: absolute;
    width: 1px;
    left: 0;
    top: 0; }
  .weirdo-container svg, .weirdo-container text {
    font-family: "Open Sans", sans-serif; }
  .weirdo-container svg text {
    fill: #58595b;
    stroke: none;
    font-style: italic; }
  .weirdo-container svg {
    shape-rendering: crispEdges;
    overflow: visible; }
    .weirdo-container svg .axis path {
      display: none; }
    .weirdo-container svg .axis--x text {
      text-anchor: start; }
    .weirdo-container svg .tick line {
      stroke: #58595b;
      opacity: .3;
      stroke-width: 1;
      stroke-dasharray: 2,2; }
    .weirdo-container svg .line {
      fill: none;
      stroke-width: 1.5px;
      stroke-linecap: round;
      shape-rendering: auto; }
    .weirdo-container svg .line-right {
      stroke: #8c9494;
      stroke-opacity: 0.87; }
    .weirdo-container svg .line-left {
      stroke: #faa619; }
    .weirdo-container svg .line-dashed {
      stroke-dasharray: 2, 4;
      stroke-width: 2px;
      stroke: #8c9494;
      stroke-opacity: 0.87; }
    .weirdo-container svg .line-declared {
      stroke: #faa619;
      stroke-width: 2.5px; }
    .weirdo-container svg path.line-annotation, .weirdo-container svg #arrowhead {
      stroke: #8c9494;
      stroke-opacity: 0.87;
      fill: none;
      shape-rendering: auto; }
    .weirdo-container svg circle {
      fill: #8c9494;
      fill-opacity: 0.87;
      shape-rendering: auto; }
    .weirdo-container svg .area-left {
      fill: #faa619;
      fill-opacity: 0.5; }
    .weirdo-container svg .area-right {
      fill: #faa619;
      fill-opacity: 0.3; }
    .weirdo-container svg .area-dashed {
      fill: #8c9494;
      fill-opacity: 0.1; }
  .weirdo-container svg.svg-frame-overlay path {
    stroke: white;
    stroke-width: 2px;
    shape-rendering: auto; }
  .weirdo-container .top-axis-container {
    margin-top: 6px; }
  .weirdo-container .top-axis-left .caption {
    margin-top: -8px; }
  .weirdo-container svg.top-axis {
    overflow: visible; }
    .weirdo-container svg.top-axis text {
      text-anchor: start; }
    .weirdo-container svg.top-axis path, .weirdo-container svg.top-axis line {
      fill: none;
      stroke: none; }

.logo {
  float: left;
  padding: 1px 19px 0 0;
  position: fixed;
  margin: 15px 0px 0px 15px;
  z-index: 1000; }

.hidden-return {
  display: none; }

.text {
  overflow: -moz-scrollbars-none; }

body {
  font-family: Open Sans, sans-serif;
  color: #383e47;
  width: 100%;
  margin-bottom: 100px; }
  @media (min-width: 480px) {
    body {
      font-size: 1.6em; } }

#table {
  margin-right: 5%; }

.remains {
  white-space: pre; }

@media only screen and (min-width: 768px) {
  .mobile {
    display: none !important;
    padding-top: 0; }

  .desktop {
    display: block !important; } }
@media only screen and (max-width: 767px) {
  .mobile {
    display: block !important; }

  .desktop {
    display: none !important; } }
body {
  background-color: #1c2124;
  font-family: "PT Sans Caption", sans-serif; }

::-webkit-scrollbar {
  width: 7px;
  /* for vertical scrollbars */
  height: 5px;
  /* for horizontal scrollbars */ }

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); }

svg {
  margin-bottom: 5px;
  margin-top: 5px; }

.leaflet-tooltip.leaflet-zoom-animated.leaflet-tooltip-right {
  color: white;
  background-color: #1c2124; }

.gide {
  margin-bottom: 10px; }
  @media (max-width: 400px) {
    .gide {
      width: 95%;
      margin-left: 3%; } }
  @media (min-width: 401px) and (max-width: 700px) {
    .gide {
      width: 100%; } }
  @media (min-width: 701px) and (max-width: 1079px) {
    .gide {
      width: 100%; } }
  @media (min-width: 1080px) and (max-width: 4500px) {
    .gide {
      width: 98%; } }

.click {
  margin-top: 20px;
  margin-bottom: 20px; }
  @media (max-width: 400px) {
    .click {
      margin-left: 5%;
      margin-right: 5%;
      text-align: right;
      width: 90%; } }
  @media (max-width: 767px) {
    .click {
      margin-left: 5%;
      margin-right: 5%;
      text-align: right;
      width: 90%; } }
  @media (min-width: 800px) {
    .click {
      margin-left: 5%;
      margin-right: 5%;
      text-align: right;
      width: 90%; } }

.red:hover {
  color: #faa51b !important; }

h1 {
  color: white;
  font-size: 5em;
  margin-bottom: 50px;
  line-height: 1.5em;
  font-weight: bold; }
  @media (max-width: 480px) {
    h1 {
      font-size: 4.2em;
      margin-left: 5%; } }

h3 {
  color: white;
  opacity: 0.8;
  margin-top: 0;
  line-height: 1.4em;
  width: 83%; }
  @media (max-width: 480px) {
    h3 {
      margin-left: 5%;
      width: 90%; } }

@media (max-width: 768px) {
  .sticky {
    position: relative;
    top: 20px; } }
@media (min-width: 769px) {
  .sticky {
    position: sticky;
    top: 50px; } }

p {
  font-size: 1.5em;
  color: white;
  line-height: 1.4em;
  opacity: 0.8; }
  @media (max-width: 2570px) {
    p {
      font-size: 1.2em; } }
  @media (max-width: 1440px) {
    p {
      font-size: 1.3em; } }
  @media (max-width: 1285px) {
    p {
      font-size: 1.5em; } }
  @media (max-width: 1024px) {
    p {
      font-size: 1.2em; } }
  @media (max-width: 767px) {
    p {
      font-size: 1.2em; } }

.text {
  font-size: 1.3em;
  color: white; }

p span {
  color: #6d6e70; }

tbody {
  color: white;
  opacity: 0.8; }

.no-bottom-border {
  border-bottom: 0 !important;
  border-top: 0 !important; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  border-top: none !important; }

thead > tr > th {
  text-align: center !important; }

td:nth-child(2) {
  text-align: center; }

тАЛ,
#last {
  padding-bottom: 20px; }

@media (max-width: 320px) {
  #map {
    max-width: 320px;
    height: 200px;
    margin-bottom: 5px; } }
@media (min-width: 321px) and (max-width: 700px) {
  #map {
    max-width: 600px;
    height: 200px;
    margin-bottom: 5px;
    margin-right: 2%; } }
@media (min-width: 701px) {
  #map {
    max-width: 220px;
    height: 200px;
    margin-bottom: 15px; } }

@media (width: 320px) {
  #table table {
    font-size: 1em;
    margin-bottom: 15px; } }
@media (max-width: 480px) {
  .col-xl-8 .col-md-offset-1 .col-lg-8 .col-md-8 .col-sm-7 {
    margin-left: 5%;
    padding-left: 0;
    float: left;
    overflow: auto;
    height: 100vh; }

  .temporary {
    width: 100%;
    padding-left: 5%;
    font-size: 0.8em;
    line-height: 1.2em;
    padding-bottom: none; }

  .container {
    margin-left: 0;
    padding-left: 0; }

  h1 {
    margin-top: 40px;
    color: white;
    line-height: 1.5em;
    font-weight: bold; }

  .text {
    padding-top: 20px;
    background-color: #1c2124;
    padding-bottom: 10px;
    max-width: 90%; }

  #table table {
    color: white;
    opacity: 0.6;
    font-size: 1.1em;
    width: 75%;
    margin-left: 3%;
    margin-right: 5%;
    margin-bottom: 15px; }

  #table table th, td {
    padding: 5px;
    word-wrap: break-word; } }
@media (min-width: 481px) {
  body {
    font-size: 10px; }

  .col-xl-8 .col-md-offset-1 .col-lg-8 .col-md-8 .col-sm-7 {
    margin-left: 5%;
    padding-left: 0;
    float: right;
    overflow: auto;
    height: 100vh; }

  h1 {
    color: white;
    opacity: 0.8;
    margin-top: 0;
    line-height: 1.5em;
    font-weight: bold; }

  .temporary {
    font-size: 1em; }

  .container {
    padding-left: 15px;
    margin-top: 0;
    padding-top: 50px;
    position: relative;
    background-color: #1c2124;
    padding-bottom: 50px; }

  .text {
    max-width: 90%; }

  #table table {
    table-layout: auto;
    color: white;
    font-size: 1.6em;
    margin-right: 5%;
    width: 100%;
    border-spacing: 10px; }

  #table tbody {
    cursor: pointer; }

  #table table td, th {
    padding: 15px; }

  .main {
    width: 100%;
    font-size: 1.3em; } }
.sparkline {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1px; }

.basicline {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1px; }

thead {
  text-align: center;
  font-size: 1em;
  color: white;
  opacity: 0.8; }

#table th:nth-child(1) {
  text-align: left !important; }

#table th:nth-child(3) {
  text-align: right !important; }

#table table tr {
  border-bottom: 0.5px solid #f2f2f2; }

#table td:nth-child(1),
#table td:nth-child(2) {
  width: 30%; }

#table td:nth-child(3) {
  width: 40%; }

#table table table td {
  text-align: left; }

#table table td:nth-child(2) {
  text-align: center; }

тАЛ,
#table table td:nth-child(3) {
  text-align: center; }

тАЛ,
#table table tr:hover {
  background-color: #3f4042; }

.focus circle {
  fill: red;
  opacity: 0.7;
  stroke: none; }

tbody {
  font-weight: normal; }

#table table td {
  padding: 5px 0; }

.line {
  fill: none;
  stroke: red;
  stroke-width: 1px; }

.line.above, .line.above
 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1px; }

.overlay {
  fill: none;
  pointer-events: all; }

.numeral {
  color: red;
  font-size: 1.3em;
  font-weight: bold; }

.sparkcircle {
  fill: #f00;
  stroke: none; }

.annotate {
  margin-left: 10%;
  margin-top: 30px;
  font-size: 1.2em;
  width: 50%;
  align-content: center;
  border-bottom: none !important; }
  @media (max-width: 480px) {
    .annotate {
      margin-left: 2%; } }

.logo_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  align-items: center; }

/*# sourceMappingURL=application.css.map */
