@import "base/variables";
@import "base/mixins";
@import "base/base";
@import "components/header";
@import "components/footer";
@import "components/weirdo";

body {
  font-size: 1.3em;
}

.fixed {
  position: fixed;
  width:25%

}
.scrollit {
  float: left;
  margin-left: 35%;

}

//.text {
//  position:fixed;
//  margin-right: 5%;
//}

//.row {
//  display: flex;
//  justify-content: space-around;
//  }


#map {
  margin-top: 50px;
  height: 200px;
  width: 100%;
  margin-right: 10px;
}

#v, #x{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.sparkline {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
}

.basicline {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
}

.swim {
  position: fixed;

}

table {
  margin-top: 50px;
  border-collapse: collapse;
  /*border-spacing: 50px 0;*/
}

thead {

  align-content: center;
}

.text {
  padding-top: 20px;
}

p {
    font-size: 0.8em;
}

th, td {
  border-bottom: 1px solid #ddd;
}


tr:hover {
  background-color: #f5f5f5
}

.focus circle {
  fill: black;
  opacity: 0.7;
  stroke: none;
}

tbody {
  font-weight: normal;

}

td {
  padding: 10px 0;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 1px;
}

.line.abovea, .line.aboveb, .line.abovec, .line.abovez, .line.abovee, .line.abovev, .line.aboveg,
.line.abovei,.line.abovej,.line.abovek, .line.abovel, .line.abovem, .line.aboven, .line.abover, .line.aboveq,
.line.abovep, .line.aboveo, .line.abovet {
  fill: none;
  stroke: grey;
  stroke-width: 1px;
}


.overlay {
  fill: none;
  pointer-events: all;
}

.numeral {
  color:red;
  font-size:1.3em;
  font-weight: bold;
}

.sparkcircle {
  fill: #f00;
  stroke: none;
}