@import "base/variables";
@import "base/mixins";
@import "base/base";
@import "components/header";
@import "components/footer";
@import "components/weirdo";


body {
  background-color: #1c2124;
}

.leaflet-tooltip.leaflet-zoom-animated.leaflet-tooltip-right {
  color: white;
  background-color: #1c2124;
}

  h1 {
    color: white;
    margin-top: 0;
    font-size: 3.0em;
    line-height: 1.5em;
    font-weight: bold;
    width: 60%;
  }

h3 {
  color: white;
  width: 80%;
  line-height: 1.5em;
}

tbody {
  color:white;
}

#last {
  padding-bottom: 20px;
}

@media (max-width: 480px) {

  .fixed {
    position: fixed;
    //width: 25%;
  }

  .scrollit {
    margin-top: 300px;
    float: left;
  }

  #map {
    min-width: 480px;
    height: 200px;
  }

  .text {
    padding-top: 20px;
    background-color: white;
    padding-bottom: 20px;
    max-width: 100%;
  }

  table {
    color: white;
    font-size: 1em;
    width: 95%;
    margin-right: 5%;
    //margin-top: 250px;
  }

  td {
    padding: 5px;
    word-wrap:break-word;
  }
}

@media (min-width: 481px) {

  .container {
    position: relative;
    margin-top: 50px;
  }

  .fixed {
    position: fixed;
    width: 25%;
  }

  .scrollit {
    float: left;
    margin-left: 35%;
  }

  #map {
    max-width: 350px;
    height: 200px;
  }

  .text {
    padding-top: 20px;
    max-width: 350px;
  }

  table {
    max-width:100%;
    overflow: visible;
    border-spacing: 10px;
  }

  td, th {
    padding: 15px;
  }

  .main {
    width: 80%;
  }

}


#v, #x{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sparkline {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1px;
}

.basicline {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1px;
}



thead {
  align-content: center;
  font-size: 1.2em;
  color:white;

}


p {
    font-size: 1em;
  color: white;
}

table td:nth-child(3) {
  width: 50%
}

th, td {
  border-bottom: 1px solid #ddd;
}

table td {
  text-align: left;
}

table td:nth-child(2) {
  text-align: center;
}​,



tr:hover {
  background-color: #6d6e70
}

.focus circle {
  fill: black;
  opacity: 0.7;
  stroke: none;
}

tbody {
  font-weight: normal;

}

td {
  padding: 5px 0;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 1px;
}

.line.abovea, .line.aboveb, .line.abovec, .line.abovez, .line.abovee, .line.abovev, .line.aboveg,
.line.abovei,.line.abovej,.line.abovek, .line.abovel, .line.abovem, .line.aboven, .line.abover, .line.aboveq,
.line.abovep, .line.aboveo, .line.abovet {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1px;
}


.overlay {
  fill: none;
  pointer-events: all;
}

.numeral {
  color:red;
  font-size:1.3em;
  font-weight: bold;
}

.sparkcircle {
  fill: #f00;
  stroke: none;
}